
body {
    background-color: 	#808080;
}
/* thumb */
.jspsych-slider::-webkit-slider-thumb {
    /*border: 1px solid #666;
    height: 24px;
    width: 15px;
    border-radius: 5px;
    background: #ffffff;
    cursor: pointer;*/
    -webkit-appearance: none;
    /*margin-top: -9px;*/
}
.jspsych-slider::-ms-thumb {visibility: hidden;}
.jspsych-slider::-moz-range-thumb {visibility:hidden;}